/* 구글폰트(폰트는 항상 제일 위에) - poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* 다크 모드 변수 */
  --dark-mode-bg-color: #333;
  --dark-mode-text-color: #f0f0f0;
  --backgroundColor: #f8fafc;
  --textColor: #0f172a;
  --darkModeTransition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

/* 다크모드 */
.dark-theme {
  background: var(--dark-mode-bg-color);
  color: var(--dark-mode-text-color);
}

/* 라이트모드 */
body {
  background: var(--backgroundColor);
  color: var(--textColor);
  transition: var(--darkModeTransition);
}

/* 초기화 (마진, 패딩 0, 박스사이징을 border-box) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* 테마토글 */
.toggle-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
.dark-toggle {
  background-color: transparent;
  border-color: transparent;
  height: 2rem;
  width: 5rem;
  place-items: center;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 20px;
}

.toggle-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* 검색창 */
.title {
  color: #645cff;
  text-align: center;
  font-family: poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 100% */
  letter-spacing: 1px;
  text-transform: capitalize;
}

.search-form {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 2rem;
  padding-left: 15px;
  width: 500px;
  height: 15px;
  padding-right: 0px;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  margin: 0 auto;
  margin-top: 30px;
}
.search-input {
  display: flex;
  width: 400px;
  height: 34px;
  padding: 7px 13px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #cbd5e1;
}

.btn {
  display: flex;
  padding: 7px 12.23px 7px 12px;
  align-items: flex-start;
  background: #645cff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  font-family: poppins;
  font-size: 13.333px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}

/* 이미지 갤러리 전체 스타일 */
.gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* 이미지 박스 컨테이너 */
.gallery .images {
  /* gap 이미지 사이 간격 */
  gap: 15px;
  max-width: 80%;
  margin: 40px 0;
  /* 5열 컬럼을 만든다.
  화면사이즈가 5*310px 안되면 자동으로 줄어듬*/
  columns: 5 310px;
  list-style: none;
}
/* 이미지를 담는 박스 */
.gallery .images .img {
  display: flex;
  cursor: pointer; /* 커서가 클릭할 수 있게 변경 */
  overflow: hidden; /* 안에있는 아이템이 밖으로 나올때(hover할때) 안보이게함 */
  position: relative;
  margin-bottom: 14px;
  border-radius: 4px;
}
/* 실제 이미지 태그 */
.gallery .images img {
  width: 100%;
  transition: transform 0.2s ease;
}

.gallery .images .img:hover img {
  /* 이미지 사이즈 1.1배 */
  transform: scale(1.1);
}

/* 팝업박스 */

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.lightbox.show {
  display: flex;
}

.wrapper {
  background: #fff;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.details i {
  font-size: 25px;
}

.details span {
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
}

.buttons {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-img {
  text-align: center;
}

.img img {
  max-width: 100%;
  height: auto;
}
